body {
  background-color: #ECECEA;
}
textarea {
  resize: none;
}
.header {
  width: 100%;
  height: 200px;
  background-color: white;
}
.header-logo {
  width: 100%;
  height: 75%;
  background-color:#74AFAD;
}
.menu {
  width: 100%;
  height: 25%;
  background-color: #558C89;
}
.content {
  width: 80%;
  height: auto;
  background-color: white;
  margin-left: 10%;
  margin-top: 15px;
  padding-bottom: 20px;
  overflow: auto;
}
.footer {
  width: 100%;
  height: 200px;
  background-color: white;
  margin-top: 15px;
}
.footer1 {
  width: 100%;
  height: 80%;
  background-color: #74AFAD;
}
.footer2 {
  width: 100%;
  height: 20%;
  background-color: #558C89;
}
.title {
  width: 100%;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.text {
  font-size: 20px;
  width: 90%;
  height: auto;
  margin-left: 5%;
  border-style: solid;
  border-color: #D9853B;
  border-width: medium;
  padding: 20px 20px 20px 20px;

}
img {
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #558C89;
  margin-left: 10%;
}
li {
  float: left;
  font-weight: bold;
  text-decoration-color: black;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #D9853B;
  color: black;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.formula {
  width: 30%;
  height: auto;
  background-color: #ECECEA;
  margin-left: 5%;
}
.option {
  width: 23.33333%;
  height:400px;
  margin-left: 7.5%;
  background-color: #ECECEA;
  float: left;
}
.countField {
  width: 30px;
  height:auto;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  background-color: #74AFAD;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  pointer-events: none;
}
.space {
  width: 100%;
  height: 30px;
  background-color: white;
  clear:left;
}
.counter {
  width:10%;
  height: auto;
  background-color: #D9853B;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  float: left;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  cursor: pointer;

}
.con {
  width: 100%;
  height: 80%;
}
#first_name {
  padding: 5px 5px 5px 5px;
  margin-left: 10%;
  margin-top: 20px;
  width: 80%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
}
#last_name {
  padding: 5px 5px 5px 5px;
  margin-left: 10%;
  margin-top: 20px;
  width: 80%;
  height: auto;
  font-size:20px;
  font-weight: bold;
}
#email {
  padding: 5px 5px 5px 5px;
  margin-left: 10%;
  margin-top: 20px;
  width: 80%;
  height: auto;
  font-size:20px;
  font-weight: bold;
}
#button1 {
  padding: 5px 5px 5px 5px;
  margin-left: 65%;
  margin-top: 20px;
  width: 25%;
  height: auto;
  font-size: 25px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #D9853B;
}
#button2 {
  clear:left;
  margin-left: 82.5%;
  width: 10%;
  height: auto;
  font-size: 25px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #558C89;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.5s ease;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
#button3 {
  clear:left;
  margin-left: 7.5%;
  width: 10%;
  height: auto;
  font-size: 25px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #558C89;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.5s ease;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
#button2:hover {
  background-color: #D9853B;
  cursor: pointer;
}
#countField {
  float: left;
}
#countField2 {
  float: left;
}
#countField3{
  float: left;
}
svg {
  height: auto;
  width: 50%;
  margin-left: 25%;

}
path {
fill: #d3d3d3;
transition: 0.6s fill;
}
path:hover {
fill:#74AFAD;
}
