body {
  background-image: url("background.jpg");
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  }
li a {
  display: block;
  width: 200px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #F5545C;
  color: black;
  font-size: 25px;
  font-weight: bold;
}
li a:hover {
  color: black;
  background-color: #e94641;
}
.active {
  color: black;
  background-color: #d92b35;
}
li {
  text-align: center;
}
