body {
  background-image: url("background.jpg");
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }
li a {
  display: block;
  width: 150px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #F5545C;
  color: black;
}
li a:hover {
  color: red;
  background-color: black;
}
.active {
  color: black;
  background-color: #d92b35;
}
